/* Schriftfont "Bitter" anwenden */
.font-Bitter {
    font-family: 'Bitter';
}


/* Abstand zwischen den Navigationsbuttons vergrößern */
.navbar-nav > li {
    padding-left: 0px;
    padding-right: 25px;
}


/* Den Button beim Datei-Upload von "Browse" auf "Hochladen" ändern */
.custom-file-input ~ .custom-file-label::after {
    content: "Datei auswählen";
}


/* Die Hintergrundfarbe vom Dropdown-Menü ändern */
.dropdown-menu.show {
background-color: #dee2e6; 
}


/* Fest definierte Spaltenbreite in der Tabelle anwenden */
table { table-layout: fixed; }
table th, table td { overflow: hidden; }

